@inject ItemsClient Client;

<div class="card p-3 m-auto w-75 text-center">

    <h4 class="fs-4 p-1">Add New Item</h4>

    <EditForm 
        Model="NewItem" 
        FormName="addItem" 
        OnSubmit="handleSubmit"
        class="p-1 m-auto"
    >
        <div class="input-group  mb-3">
            <InputText @bind-Value="NewItem!.Name" placeholder="e.g Milk" class="form-control" aria-label="new item list" />
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </EditForm>

</div>


@code {
    [SupplyParameterFromForm]
    private Item? NewItem {get; set;}

    Random rnd = new Random();

    protected override void OnInitialized() => NewItem ??= new() { Name=""};

    private void handleSubmit()
    {
        if(NewItem != null)
        {
            int newId = rnd.Next(520);
            NewItem.Id = newId;
            NewItem.IsPicked = false;
            Client.AddNewItem(NewItem);
        }        
    }        
}
