@inject ItemsClient Client
@inject NavigationManager NavigationManager

<div class="card p-3 m-auto w-75 text-center mb-4 add_form">

    <h4 class="fs-4 p-1 text-decoration-underline mb-3 colour-dark">Add New Item</h4>

    <EditForm 
        Model="NewItem" 
        FormName="addItem" 
        OnValidSubmit="handleSubmit"
        class="p-1 mx-auto"
    >
        <div class="input-group  mb-2">
            <InputText 
                @bind-Value="NewItem!.Name" 
                placeholder="e.g Milk" 
                class="form-control fs-5 colour-dark" 
                aria-label="new item list"
                @onfocus="()=>hideErrorMsg()" />
            <button class="btn btn-primary fs-5" type="submit">Add</button>
        </div>        
    </EditForm>

    @if (showErrorMsg)
    {
        <div class="my-1">
            <p class="fs-5 fst-italic text-danger">@errorMsg</p>
        </div>
    }
</div>


@code {
    [SupplyParameterFromForm]
    private Item? NewItem {get; set;}

    Random rnd = new Random();

    protected override void OnInitialized() => NewItem ??= new() { Name=string.Empty };

    private bool showErrorMsg = false;
    private string errorMsg = "";

    private void handleSubmit()
    {
        if (!string.IsNullOrEmpty(NewItem!.Name))
        {
            int newId = rnd.Next(520);
            NewItem.Id = newId;
            NewItem.IsPicked = false;
            Client.AddNewItem(NewItem);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            errorMsg = "Please enter a shopping list item.";
            showErrorMsg = true;
        }
    }  
    
    private void hideErrorMsg()
    {
        errorMsg = "";
        showErrorMsg = false;
    }
}
