@page "/about"

<section class="p-5 page-header card mb-4 w-75 mx-auto">
    <h2 class="text-center p-2 mb-3">About</h2>
</section>

<section class="p-5 page-header card mb-4 w-75 mx-auto">
    <span class="text-center mb-3 fs-5"><i class="bi bi-flower1"></i></span>
    <p class="text-center fs-5">
        This is a Shopping List App built by <span class="fst-italic fw-bold">Shumie</span>. <br />
        The app was built to showcase her technical <br /> skills and knowledge of
        <span class="fst-italic fw-bold"> Blazor, </span>
        <span class="fst-italic fw-bold"> Bootstrap,</span> and
        <span class="fst-italic fw-bold"> CSS</span>.
        <br />Checkout the rest of her project on her <a class="fst-italic fw-bold" href="https://github.com/Shumieb"> GitHub </a> page.
        <br />
        Thank you for visiting this site.
    </p>
    <span class="text-center fs-5"><i class="bi bi-flower1"></i></span>
</section>



