@page "/"
@inject ItemsClient Client;

<PageTitle>Home</PageTitle>


<div class="p-5 text-white page-header card mb-4 w-75 mx-auto">
    <h2 class="text-center p-2 mb-3">My Shopping List</h2>
</div>

<AddItemComponent/>

<ItemListComponent @rendermode="InteractiveServer" />

